.mechanic {
  height: 100%;
  background-color: #ffffff;
  &_showcase {
    background-image: url("../public/Images/Group\ 9781.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    &_socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding-top: 3rem;
      padding-left: 2rem;
      width: 10%;
      height: 60%;
      @media screen and (max-width: 500px) {
        .showcase_img {
          display: none;
        }
      }
      .social_icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background: #262626;
        .fa-brands {
          font-size: 23px;
          color: $primary;
        }
      }
    }
    &_text {
      text-align: center;
      h1 {
        margin-top: 1rem;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 90px;
        letter-spacing: 0.01em;
        color: #ffffff;
        @media screen and (max-width: 500px) {
          font-size: 30px;
          line-height: 1;
        }
      }
    }
    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      margin: 1.5rem 0;
      .bton {
        all: unset;
        color: $primary;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.01em;
      }
      .booking {
        width: 144px;
        height: 41px;
        border-radius: 4px;
        background-color: $btn;
      }
    }
  }
  &_search {
    background-color: #000;
    &_sub {
      width: 80%;
      margin: 0 auto;
      background: rgba(250, 250, 250, 0.2);
      backdrop-filter: blur(17px);
      border-radius: 10px 10px 0px 0px;
      .search_wrapper {
        padding: 1.5rem 2rem;
        .cars {
          margin-bottom: 1rem;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.01em;
          color: $primary;
        }
        &_flex {
          display: flex;
          gap: 1rem;
          @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
          }

          &_right {
            width: 520px;
            height: 46px;
            display: flex;

            justify-content: space-between;
            border-bottom: 1px solid $primary;
            @media screen and (max-width: 500px) {
              width: 100%;
            }

            span {
              color: $primary;
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.01em;
              color: #e5e5e5;
              @media screen and (max-width: 500px) {
                font-size: 13px;
              }
            }
            i {
              color: $primary;
              font-size: 13px;
            }

            .frist {
              display: flex;
              align-items: center;
              gap: 0.4rem;
              .fa-search {
                font-size: 14px;
              }
              input {
                color: #999999;
                all: unset;
              }
            }
            .brand_model {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              width: 135px;
              height: 36px;
              background-color: #999999;
              border-radius: 4px;
              @media screen and (max-width: 500px) {
                display: none;
              }
            }
          }
          &_left {
            display: flex;
            gap: 1rem;

            span {
              color: $primary;
              font-family: "DM Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.01em;
              color: #e5e5e5;
            }
            @media screen and (max-width: 500px) {
              display: flex;
              flex-direction: column;
              span {
                font-size: 13px;
              }
            }
            i {
              color: $primary;
              font-size: 13px;
            }
            .brand_model {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              width: 135px;
              height: 36px;
              background-color: #999999;
              border-radius: 4px;
              display: none;
              @media screen and (max-width: 500px) {
                display: block;
                align-items: center;
                justify-content: space-between;
                width: 100%;
              }
            }
            .model {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              width: 97px;
              height: 36px;
              border: 1px solid #e5e5e5;
              border-radius: 4px;
              @media screen and (max-width: 500px) {
                width: 100%;
                justify-content: space-between;
                padding: 0 1rem;
                span {
                  font-size: 13px;
                }
              }
            }
            .part {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 65px;
              height: 36px;
              border: 1px solid #e5e5e5;
              border-radius: 4px;
              @media screen and (max-width: 500px) {
                width: 100%;
                span {
                  font-size: 13px;
                }
              }
            }
            .check {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 119px;
              height: 36px;
              background: $btn;
              border: 1px solid rgba(229, 39, 39, 0.2);
              border-radius: 4px;
              @media screen and (max-width: 500px) {
                width: 100%;
                span {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
  &_marketplace {
    display: flex;
    height: 504px;
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    &_left {
      flex: 1;
      height: 100%;
      .left_inner {
        padding: 3rem 2rem 1rem 5rem;
        @media screen and (max-width: 500px) {
          padding: 2rem 1rem;
        }
        .who {
          display: flex;
          align-items: baseline;

          .span {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0.01em;
            color: $secondary;
          }
          .line {
            width: 55px;
            height: 3px;
            opacity: 1;
            background: $secondary;
          }
        }
        .left_inner_text1 {
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 47px;
          letter-spacing: 0.01em;
          text-transform: capitalize;
          margin-bottom: 1.5rem;
          color: #262626;
        }
        .left_inner_text2 {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.01em;
          margin-bottom: 1.5rem;
        }
        .left_inner_icon {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          .red_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-color: $btn;
            .fa-play {
              font-size: 14px;
              color: $primary;
            }
          }
        }
      }
    }
    .marketplace_right {
      height: 100%;
      flex: 1;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &_feature {
    margin-top: 3rem;
    background-color: $primary;
    .line-feature {
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin: 1rem 0;
      .span {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: $secondary;
      }
      .line {
        width: 55px;
        height: 3px;
        opacity: 1;
        background: $secondary;
      }
    }

    &_flex {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      height: auto;
      @media screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .flex_boxx {
        display: flex;
        align-items: center;
        padding: 2rem 0.7rem;
        flex-direction: column;
        gap: 1rem;
        width: 271px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        &:hover {
          box-shadow: 0px 10px 25px 10px rgba(229, 229, 229, 0.6);
        }
        @media screen and (max-width: 500px) {
          width: 100%;
        }

        .free-text {
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.01em;
          color: #999999;
        }
        .free-bold {
          text-align: center;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: #262626;
        }
      }
    }
  }
  &_services {
    margin-top: 3rem;
    .fixedimg {
      position: absolute;
      width: 350px;
      top: 190%;
      right: 0;
      z-index: -100000;
    }
    &_wrapper {
      display: flex;
      .container_img {
        height: 900px;
        img {
          height: 100%;
        }
        @media screen and (max-width: 922px) {
          display: none;
        }
      }
      .container_boxes {
        margin-top: 1.5rem;
        padding: 1rem 2.5rem;

        width: 100%;
        &_services {
          display: flex;
          align-items: baseline;

          .span {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0.01em;
            color: $secondary;
          }
          .line {
            width: 55px;
            height: 3px;
            opacity: 1;
            background: $secondary;
          }
        }
        .services_txt {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.01em;
          color: #262626;
        }
        .services_cate {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-top: 1.5rem;

          .dept {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem;
            width: 333px;
            height: 286px;
            background: #ffffff;
            border: 1px solid #e5e5e5;
            .square {
              width: 54px;
              height: 54px;
              border: 2px solid #999999;
              border-radius: 2px;
            }
            .garage {
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 23px;
              letter-spacing: 0.01em;
              color: #262626;
            }
            .dept_txt {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.01em;
              color: #999999;
            }
          }
        }
        @media screen and (max-width: 900px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &_services {
            justify-content: center;
            align-items: center;
          }
        }
        @media screen and (max-width: 500px) {
          padding: 1rem;
          &_services {
            justify-content: center;
          }
          .services_cate {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            .dept {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &_choose {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    .line-feature {
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin: 1rem 0;
      .span {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: $secondary;
      }
      .line {
        width: 55px;
        height: 3px;
        opacity: 1;
        background: $secondary;
      }
    }
    &_boxes {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .choose_box {
        width: 340px;
        height: 320px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 0 1rem;
        &_txt {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.01em;
          color: #999999;
          margin-top: 3.5rem;
        }
        &_header {
          font-style: normal;
          font-weight: 500;
          font-size: 23px;
          line-height: 31px;
          letter-spacing: 0.01em;
          color: #262626;
          margin-top: 2rem;
        }
      }
      @media screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .choose_box {
          width: 100%;
          // &_txt {
          //   font-size: 16px;
          //   line-height: 20px;
          // }
        }
      }
    }
  }
  &_brands {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .line_brand {
      display: flex;
      align-items: baseline;
      margin: 1rem 0;
      .span {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: $secondary;
      }
      .line {
        width: 55px;
        height: 3px;
        opacity: 1;
        background: $secondary;
      }
    }
    &_boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.3rem;

      @media screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  &_reviews {
    margin-top: 3rem;
    padding: 2rem;
    height: 700px;
    background: url("/Images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line_reviews {
      display: flex;
      align-items: baseline;
      margin: 1rem 0;
      .span {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: $primary;
      }
      .line {
        width: 55px;
        height: 3px;
        opacity: 1;
        background: $primary;
      }
    }
    .review_header {
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.01em;
      color: #fafafa;
    }
    .customers_reviews {
      margin-top: 2rem;
      display: flex;
      gap: 2rem;
      .customers {
        width: 360px;
        height: 360px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid #fafafa;
        backdrop-filter: blur(15px);
        border-radius: 5px;
        padding: 1rem 1.5rem;
        .review_img {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0.5rem;
        }
        .review_txt {
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.01em;
          color: $primary;
        }
        .review_indiviuals {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 1.5rem;

          .review_name {
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.01em;
            color: $primary;
          }
        }
      }
    }
  }
  &_blogs {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .blog_line {
      display: flex;
      align-items: baseline;
      margin: 1rem 0;
      .span {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: $secondary;
      }
      .line {
        width: 55px;
        height: 3px;
        opacity: 1;
        background: $secondary;
      }
    }
    .blog_header {
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.01em;
      color: $text_dark;
    }
    .blog_post {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 2rem;
      &_box {
        width: 340px;
        &_img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        &_wrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem 0.5rem;
          &_date {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .date_txt {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $text;
          }
          .txt_blog {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: $text_dark;
          }
          &_btn {
            all: unset;
            width: 55px;
            height: 19px;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.01em;
            color: $btn;
          }
        }
      }
      @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
